
body
{
background-image: url("background.jpg");
background-repeat: no-repeat;
background-position: right-top;
background-attachment: fixed;
}

a, a:visited
{
	text-decoration: none;
}

section
{
	color: white;
	text-shadow: 1px 1px 0.5px black;
	padding-top: 80px;
}
/* HEADER */
.mainHeader
{
	background-color: rgba(70, 70, 70, 0.3) ;
	text-shadow: 1px 1px 0.5px black;

	
}
.titreHeader
{

	margin: auto;
	width:100%;
	text-align: center;
}

.listeHeader
{
	margin-left: auto;
}

.listeItem
{
	margin: auto;
	padding: auto;
}

/*FOOTER*/
.footer
{
	margin-top: 10px;
	background-color: black;
}

/* INDEX */
.sampleNews
{
	margin: 5px !important;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 5px gray;
}

.newsTiles
{
	margin-left: 15% !important;
	margin-right: 10% !important;
}

/* TABS*/
table
{
	border-collapse: collapse;
	text-align: center;
}



th, td
{

	border: 1px solid black;
}

.panelRedir
{
	text-decoration: underline;
}