a, a:visited
{
	text-decoration: none;
}

.titreHeader
{
	margin: auto;
	width:25%;
}
table
{
	border-collapse: collapse;
}

th, td
{
	border: 1px solid black;
}

.panelRedir
{
	text-decoration: underline;
}